<div class="post-card">
  <a href="{{ .RelPermalink | relLangURL }}" class="post-card-link">
    <div class="card">
      <div class="card-head">
        <img class="card-img-top" src='{{ partial "helpers/get-hero.html" . }}' alt="Hero Image">
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ .Title }}</h5>
        <p class="card-text post-summary">{{ .Summary }}</p>
      </div>
      <div class="card-footer">
        {{ if and site.Params.features.tags.enable site.Params.features.tags.on_card }}
        <div class="taxonomy-terms-card">
          <ul style="padding-left: 0;">
            {{ range .Params.tags }}
            {{ $url:= printf "tags/%s/" . }}
            <li class="rounded"><a href="{{ $url | urlize | relLangURL }}" class="btn, btn-sm">{{ . }}</a></li>
            {{ end }}
          </ul>
        </div>
        {{ end }}
        <span class="float-left">{{ .Date.Format "January 2, 2006" }}{{ if site.Params.features.readingTime }} | {{ .ReadingTime }} minute{{ if (ne .ReadingTime 1) }}s{{ end }}{{ end }}</span>
        <a
        href="{{ .RelPermalink | relLangURL }}"
        class="float-right btn btn-outline-info btn-sm"
        >{{ i18n "read" }}</a
        >
      </div>
    </div>
  </a>
</div>
