.wrapper {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
}

.content-section {
  flex: 80%;
  order: 2;
  /* background-color: lightseagreen; */
  padding: 0;
  position: relative;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.content {
  padding: 0;
  position: relative;
  padding-top: 2rem;
  min-height: 130vh;
}

.note-card-holder{
  padding-top: 2rem;
}

.note-collection {
  display: flex;
  flex-wrap: wrap;
}

.note-card {
  margin: 1rem;
  align-self: flex-start;
}

.note-title{
  font-weight: 800;
}

.note-card .card-body{
  padding: 1rem;
}

.note-card pre {
  margin: 0;
  border-radius: 3px;
}

.small-note{
  max-width: 15rem;
}

.medium-note{
  max-width: 25rem;
}

.large-note{
  max-width: 40rem;
}

.huge-note{}

.note-badge{
  font-size: 10pt;
}
