.accomplishments-section {
  h1 > span {
    margin-top: -55px; /* Size of fixed header */
    padding-bottom: 55px;
    display: block;
  }

  .card {
    background: #fff;
    border-top: 2px solid #248aaa;
    height: 100%;

    &:hover,
    &:focus {
      border-top: 2px solid #248aaa;
    }

    .card-header {
      background: none;
      border: none;

      .sub-title {
        color: #8392a5;
        margin-top: 0.4rem;
      }
    }

    .card-body {
      padding: 0;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .card-footer {
      background: #fff;
      border: none;
      padding: 0;
      padding-left: 0.7rem;
      padding-bottom: 0.3rem;
    }
  }

  @include media('<=large') {
    width: 100%;
    padding: 0;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    margin-top: 2rem;

    .container {
      max-width: 100%;
    }
  }

  @include media('<=small') {
    flex: 100%;
    max-width: 100%;
  }
}
