.education-section {
  h1 > span {
    margin-top: -55px; /* Size of fixed header */
    padding-bottom: 55px;
    display: block;
  }

  .card {
    &:hover,
    &:focus {
      border-left: 2px solid #248aaa;
    }
  }

  .education-info-table {
    width: 100%;
    border: none;
    background: none;

    .icon {
      width: 2rem;
      padding-left: 0;
      padding-right: 0;
      position: relative;

      .hline {
        position: absolute;
        left: 1rem;
        top: 0;
        background-color: #248aaa;
        height: 100%;
        width: 2px;
      }

      .icon-holder {
        background-color: #248aaa;
        border-radius: 50%;
        height: 2rem;
        width: 2rem;
        padding: 0.2rem;
        text-align: center;
        color: #e5e9f2;
        position: relative;
      }
    }

    tr,
    th,
    td {
      border: none;
      padding: 0;
      background: none;
    }

    tr {
      &:hover {
        background: none;
      }
      &:first-child {
        .hline {
          height: 65%;
          top: auto;
        }
      }
      &:last-child {
        .hline {
          height: 50%;
        }
      }

      .line {
        width: 5%;
        padding-left: 0;
        padding-right: 0;

        div {
          height: 2px;
          /* width: 100%; */
          margin-right: -1px;
          background-color: #248aaa;
        }
      }

      .details {
        .degree-info {
          padding: 1rem;
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;
          border-left: 2px solid #248aaa;
          border-top: 1px solid #c0ccda;
          border-bottom: 1px solid #c0ccda;
          border-right: 1px solid #c0ccda;
          border-radius: 5px;

          h5 {
            margin-bottom: 0.3rem;
          }

          .timeframe {
            color: #8392a5;
            text-align: right;
          }

          .taken-courses {
            table {
              margin-left: 1rem;
              width: 100%;
              transition: all 0.3s ease-out;
              background: none;
              border: none;

              tr,
              td,
              th {
                background: none;
                border: none;
                color: #212529;
              }

              tr {
                height: auto !important;
              }
              th {
                .course-name-header {
                  width: 50%;
                }
              }
              .hidden-course {
                display: none;
                transition: all 1s ease-out;
              }
              ul {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }

  .hidden {
    display: none;
  }

  @include media('<=large') {
    .container {
      padding-left: 0;
    }
  }

  @include media('<=small') {
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    .container {
      padding-right: 0;
    }

    .icon {
      display: none;
    }

    .line {
      display: none;
    }

    .timeframe {
      text-align: left;
    }
  }
}

.education-alt .degree-info {
  border-right: 2px solid #248aaa;
}
