.skills-section {
  .card {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 100%;

    .card-head {
      background-color: #f9fafc;
      height: -moz-fit-content;
      height: fit-content;
      padding: 0.7rem;
      padding-bottom: 0rem;
      border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.125);

      .card-img-xs {
        margin-right: 0.5rem;
        margin-bottom: 0.75rem;
      }
    }

    .card-body {
      padding-top: 0.2rem;
      padding-left: 0.7rem;
    }
  }

  @include media('<=medium') {
    padding-left: 0;
    padding-right: 0;

    .container {
      max-width: 95%;
    }
  }
}
