<div class="col-10 col-lg-8">
  <div class="experience-entry-heading">
    <h5><a href="{{ .company.url }}">{{ .company.name }}</a></h5>
    <h6>{{ .designation }}</h6>
    <p class="text-muted">{{ .start }} - {{ if .end }} {{ .end }} {{ else }}Present{{ end }}, {{ .company.location }}</p>
  </div>
  <p>{{ .company.overview | markdownify }}</p>
  <h6 class="text-muted">Responsibilities:</h6>
  <ul class="justify-content-around">
      {{ range .responsibilities }}
        <li>{{ . | markdownify }}</li>
      {{ end }}
  </ul>
</div>
