<div class="company">
    <div class="company-logo">
        {{ $svg := readFile .company.logo_path | safeHTML }}
        {{ $svg := replace $svg "#" "%23" }}
        <img src='data:image/svg+xml;charset=UTF-8,{{ $svg }}' alt="{{ .company.name }} logo"/>
    </div>
    <div class="company-info">
        <h5>{{ if .company.url }}<a href={{.company.url}}>{{ .company.name }}</a>{{ else }}{{ .company.name }}{{ end }}</h5>
        {{ $oldestPosition := index (last 1 .positions) 0}}
        {{ $mostRecentPosition := index (first 1 .positions) 0}}
        <span class="text-muted">
            {{ $oldestPosition.start }} - {{ $mostRecentPosition.end }},
            {{ .company.location }}
        </span>
        <p>{{ .company.overview | markdownify }}</p>
    </div>
</div>

<div class="company-timeline">
{{ range $index,$position:= .positions }}
    <div class="company-timeline-item position">
        <h6 class="designation">{{ $position.designation }}</h6>
        <span class="text-muted company-period">{{ $position.start }} - {{ $position.end }} </span>
        <ul class="justify-content-around responsabilities">
        {{ range $position.responsibilities }}
            <li>{{ . | markdownify }}</li>
        {{ end }}
        </ul>
    </div>
{{ end }}
</div>
