<div class="company">
    <div class="company-logo">
        <img src="{{ .company.logo_path }} ">
    </div>
    <div class="company-info">
        <h5>{{ .designation }}</h5>
        <h6>{{ if .company.url }}<a href={{.company.url}}>{{ .company.name }}</a>{{ else }}{{ .company.name }}{{ end }}</h6>
        <span class="text-muted">{{ .start }} - {{ .end }},
            {{ .company.location }}
        </span>
    </div>
</div>


<div class="company-timeline">
    <div class="company-timeline-item">
        <p>{{ .company.overview | markdownify }}</p>
        <ul class="justify-content-around">
        {{ range .responsibilities }}
            <li>{{ . | markdownify }}</li>
        {{ end }}
        </ul>
    </div>
</div>