{{ $sectionID := replace (lower .section.name) " " "-"  }}
{{ if .section.id }}
  {{ $sectionID = .section.id }}
{{ end }}

<div class="container-fluid anchor pb-5 accomplishments-section" id="{{ $sectionID }}">
  {{ if not (.section.hideTitle) }}
    <h1 class="text-center">{{ .section.name }}</h1>
  {{ end }}

  <div class="container">
    <div class="row" id="acomplishment-card-holder">
      {{ range .accomplishments }}
        {{ partial "cards/accomplishments" . }}
      {{ end }}
    </div>
  </div>
</div>
