{{ $sectionID := replace (lower .section.name) " " "-"  }}
{{ if .section.id }}
  {{ $sectionID = .section.id }}
{{ end }}

<div class="container-fluid anchor pb-5 experiences-section">
  {{ if not (.section.hideTitle) }}
    <h1 class="text-center">
        <span id="{{ $sectionID }}"></span>{{ .section.name }}</h1>
  {{ else }}
    <h1 class="text-center" style="display: none">
        <span id="{{ $sectionID }}"></span>{{ .section.name }}</h1>
  {{ end }}

  <div class="container timeline text-justify">
   {{ $totalExperiences:= len .experiences }}
   {{ range $index,$experience:= .experiences }}
      <div class="row align-items-center justify-content-start d-flex">
        {{ partial "sections/experiences/positions.html" $experience }}
      </div>
   {{ end }}
  </div>
</div>
