.experiences {
  padding-bottom: 1rem;
}

.experiences .timeline {
  margin-top: 1.5rem !important;
}

.text-muted {
  color: #e5e9f2;
}

.experiences ul {
  padding-left: 1rem;
}

.experiences ul > li {
  margin-left: 0;
  color: #3c4858;
}

.experience-entry-heading h5 {
  font-weight: 600;
}

.circle {
  padding: 13px 20px;
  border-radius: 50%;
  background-color: #248aaa;
  color: #f9fafc;
  max-height: 50px;
  z-index: 2;
}

.timeline .vertical-line {
  align-self: stretch;
}

.timeline .vertical-line::after {
  content: "";
  position: absolute;
  border-left: 3px solid #248aaa;
  z-index: 1;
  height: 100%;
  left: 50%;
}

.vertical-line-left-adjustment::after {
  left: calc(50% - 3px) !important;
}

.timeline .horizontal-line div {
  padding: 0;
  height: 40px;
}

.timeline .horizontal-line hr {
  border-top: 3px solid #248aaa;
  margin: 0;
  top: 17px;
  position: relative;
}

.timeline .horizontal-line .timeline-side-div {
  display: flex;
  overflow: hidden;
}

.timeline .horizontal-line .corner {
  border: 3px solid #248aaa;
  width: 100%;
  position: relative;
  border-radius: 15px;
}

.top-left {
  left: -50%;
  top: -50%;
}

.top-right {
  left: 50%;
  top: -50%;
}

.bottom-left {
  left: -50%;
  top: calc(50% - 3px);
}

.bottom-right {
  left: 50%;
  top: calc(50% - 3px);
}

/* ============= Device specific fixes ======= */

/* Extra small devices (portrait phones, less than 576px) */

/* No media query for `xs` since this is the default in Bootstrap */

/* Extra large devices (large desktops, 1200px and up) */

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
}

/*  Large devices (desktops, 992px and up) */

@media (max-width: 992px) {
}

/* Medium devices (tablets, 768px and up) */

@media only screen and (max-width: 768px) {
}

/* Small devices (landscape phones, 576px and up) */

@media only screen and (max-width: 576px) {
}
