.wrapper {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
}

.sidebar {
  width: 400px;
  background: #f9fafc;
  min-height: 100vh;
  overflow: auto;
  transition: all ease-out 0.3s;
  -webkit-transition: all ease-out 0.3s;
}

.sidebar.hide {
  position: relative;
  width: 0;
  transition: all ease-out 0.3s;
  -webkit-transition: all ease-out 0.3s;
  z-index: -1001;
}

#search-box {
  width: 250px;
  height: 35px;
  padding-left: 15px;
  margin-top: 30px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #e5e9f2;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  border: 1px solid #c0ccda;
}

#search-box:focus {
  border: 1pt solid #248aaa;
  outline: none;
}

.sidebar-tree {
  margin-left: 2rem;
  margin-top: 2.5rem;
  position: fixed;
}

#list-heading {
  padding-left: 0px !important;
}

.tree,
.tree ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tree ul {
  margin-left: 0.5rem;
  position: relative;
}

.tree ul ul {
  margin-left: 0.5em;
}

.tree ul:before {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  top: -10px;
  left: -3px;
  bottom: 16px;
  border-left: 1px solid;
}

.subtree {
  padding-left: 0.7rem;
}

.subtree:before {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  top: 6.5rem;
  left: 0.5rem;
  bottom: 16px;
  border-left: 1px solid;
}

.tree li {
  margin: 0;
  padding: 0 1em;
  line-height: 2em;
  color: #3c4858;
  position: relative;
}

.subtree li:before {
  content: "";
  display: block;
  width: 20px;
  height: 0;
  border-top: 1px solid;
  margin-top: -1px;
  position: absolute;
  top: 18px;
  left: -3px;
}

.subtree li:last-child:before {
  background: #f9fafc;
  height: auto;
  top: 1em;
  bottom: 0;
}

.tree li a {
  text-decoration: none;
  color: #131313;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}
.tree li a:hover {
  margin-left: 3px;
  color: #2098d1;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

.tree i {
  color: #3c4858;
  font-size: 12px;
  margin-right: 5px;
}

.tree .shift-right {
  margin-left: 5px;
}

.tree ul {
  display: none;
}

.tree .expand,
.tree .expand > ul {
  display: block;
}

a.focused {
  color: #2098d1 !important;
}

.content {
  width: 100%;
  background: #e5e9f2;
  padding: 0;
  position: relative;
}

.content-cards {
  padding-top: 30px;
  width: 100%;
  padding-left: 28px;
  padding-bottom: 20px;
}

.post-cards {
  margin: 32px;
}

.post-cards .filtr-item {
  width: 23rem !important;
}

.post-cards .card {
  margin: 5px;
  position: relative;
}

.post-cards .card .card-footer span {
  font-size: 10pt;
  color: #6c757d !important;
  padding-top: 5px;
}

.post-cards .card .card-footer {
  background: #fff;
  margin-top: auto;
}

.post-summary {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 144px;
  /* fallback */
  -webkit-line-clamp: 5;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.post-cards .post-card-link{
  text-decoration: none;
}

.content-cards .paginator{
  width: fit-content;
  margin: auto;
}

.content-cards .paginator .page-item>a{
  color: #248aaa;
}

.content-cards .paginator .page-item.active>a{
  background-color: #248aaa;
  color: #f9fafc;
}

.navbar-toggler {
  display: none;
}

/*-------------- Media Queries ---------- */

@media (max-width: 1200px) {
  .sidebar-tree {
    margin-left: 1rem;
  }
  .content-cards {
    padding-left: 0px;
  }
  .post-cards {
    margin-left: 15px;
  }
  .post-cards .filtr-item {
    width: 22rem !important;
    padding: 3px;
  }
}

@media only screen and (max-width: 768px) {
  .content {
    width: 100vw;
    padding-left: 15px;
  }
  .content.overley {
    width: 60vw;
    padding-left: 3px;
  }
  .navbar-toggler {
    display: block;
  }

  .sidebar {
    width: 0;
  }
  .sidebar nav {
    display: none;
    transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
  }
  .sidebar.hide {
    position: relative;
    z-index: 1001;
    width: 40vw;
  }

  .sidebar-tree {
    margin-left: -20rem;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
  }

  .sidebar.hide .sidebar-tree {
    margin-left: 1.5rem;
    transition: all 0.3s ease-out;
  }

  .content-cards {
    padding-top: 20px;
    width: 100%;
    padding-left: 0px;
  }

  .post-cards {
    margin: 0;
    margin-top: 32px;
  }

  .post-cards .filtr-item {
    margin: 10px;
    width: 47vw !important;
  }

  .post-cards .card {
    max-width: 47vw !important;
  }

  .content.overley .post-cards .filtr-item {
    margin: 10px;
    width: 55vw !important;
  }

  .content.overley .post-cards .card {
    max-width: 55vw !important;
  }
}
@media only screen and (max-width: 576px) {
  .wrapper {
    display: block;
  }

  #search-box {
    width: 85vw;
    height: 35px;
    padding-left: 5px;
    margin-top: 30px;
  }
  .content {
    width: 100vw;
    left: 0;
    display: block;
    padding-left: 2vw;
  }

  .content.overley {
    width: 100vw;
    left: 0;
    padding-left: 2vw;
  }

  .sidebar {
    position: relative;
    max-height: 0;
    width: 100vw;
    min-height: 0;
    overflow: hidden;
    transition: all ease-out 0.5s;
    -webkit-transition: all ease-out 0.5s;
  }

  .sidebar-tree {
    position: relative;
  }

  .sidebar.hide {
    position: relative;
    z-index: 1001;
    width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    transition: all ease-out 0.5s;
    -webkit-transition: all ease-out 0.5s;
  }

  .sidebar-tree {
    margin-left: 1.5rem;
  }

  .sidebar.hide .sidebar-tree {
    margin-left: 1.5rem;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
  }

  .content-cards {
    padding-top: 20px;
    padding-left: 0px;
    transition: all ease-out 0.5s;
    -webkit-transition: all ease-out 0.5s;
  }

  .content.overley .content-cards {
    padding-top: 0px;
    padding-left: 0px;
    transition: all ease-out 0.5s;
    -webkit-transition: all ease-out 0.5s;
  }

  .post-cards {
    margin: 0;
    margin-top: 32px;
    transition: all ease-out 0.5s;
    -webkit-transition: all ease-out 0.5s;
  }

  .content.overley .post-cards {
    margin: 0;
    transition: all ease-out 0.5s;
    -webkit-transition: all ease-out 0.5s;
  }

  .post-cards .filtr-item {
    margin: 0px;
    width: 95vw !important;
  }

  .post-cards .card {
    max-width: 90vw !important;
  }

  .content.overley .post-cards .filtr-item {
    margin: 0px;
    width: 95vw !important;
  }

  .content.overley .post-cards .card {
    max-width: 95vw !important;
  }
}
