.projects-section .card .card-header {
  background-color: #f9fafc;
  padding: 0.7rem;
  padding-bottom: 0rem;
}

.projects-section .card .card-img-xs {
  margin-right: 0.5rem;
}

.card .card-header .sub-title span:nth-child(1) {
  float: left;
}
.card .card-header .sub-title span:nth-child(2) {
  float: right;
}

.projects-section .card .card-body {
  padding: 0.7rem;
}

.projects-section .card .card-header .sub-title {
  color: #8392a5;
  margin-top: 0.4rem;
}

.filtr-projects {
  padding: 1rem !important;
}

/* ============= Device specific fixes ======= */

/* Extra small devices (portrait phones, less than 576px) */

/* No media query for `xs` since this is the default in Bootstrap */

/* Extra large devices (large desktops, 1200px and up) */

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
}

/*  Large devices (desktops, 992px and up) */

@media (max-width: 992px) {
}

/* Medium devices (tablets, 768px and up) */

@media only screen and (max-width: 768px) {
}

/* Small devices (landscape phones, 576px and up) */

@media only screen and (max-width: 576px) {
  .projects-section .btn {
    margin-top: 0.3125rem;
  }
}
