.recent-posts-section .container{
  padding-top: 1rem;
}

.recent-posts-section .card .card-footer span {
  font-size: 10pt;
  color: #6c757d !important;
  padding-top: 5px;
}

.recent-posts-section .card .card-footer {
  background: #fff;
  margin-top: auto;
}

.recent-posts-section .post-card-link{
  text-decoration: none;
}

.post-summary {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /* line-height: 24px;     fallback */
  max-height: 144px; /* fallback */
  -webkit-line-clamp: 5; /* number of lines to show */
  -webkit-box-orient: vertical;
}
