.skills .card .card-head img {
  margin: 10px;
}

.skills .card .card-head i{
  font-size: 1.5rem;
  margin: 10px;
  margin-top: 15px;
}

.skills .card {
  margin-top: 10px;
  margin-bottom: 10px;
}

.skills .card .card-body {
  padding-top: 0;
}

.skills .card .card-head {
  height: fit-content;
}

.skills .card .card-head h4 {
  margin-top: 0.8rem;
}

/* ============= Device specific fixes ======= */

/* Extra small devices (portrait phones, less than 576px) */

/* No media query for `xs` since this is the default in Bootstrap */

/* Extra large devices (large desktops, 1200px and up) */

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
}

/*  Large devices (desktops, 992px and up) */

@media (max-width: 992px) {
}

/* Medium devices (tablets, 768px and up) */

@media only screen and (max-width: 768px) {
}

/* Small devices (landscape phones, 576px and up) */

@media only screen and (max-width: 576px) {
}
