.skills-section .card .card-head {
  background-color: #f9fafc;
  height: fit-content;
  padding: 0.7rem;
  padding-bottom: 0rem;
  border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.125);
}

.skills-section .card .card-img-xs {
  margin-right: 0.5rem;
}

.skills-section .card {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.skills-section .card .card-body {
  padding-top: 0.2rem;
  padding-left: 0.7rem;
}

/* ============= Device specific fixes ======= */

/* Extra small devices (portrait phones, less than 576px) */

/* No media query for `xs` since this is the default in Bootstrap */

/* Extra large devices (large desktops, 1200px and up) */

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
}

/*  Large devices (desktops, 992px and up) */

@media (max-width: 992px) {
}

/* Medium devices (tablets, 768px and up) */

@media only screen and (max-width: 768px) {
}

/* Small devices (landscape phones, 576px and up) */

@media only screen and (max-width: 576px) {
}
