.skills-section .card .card-head {
  background-color: #f9fafc;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.7rem;
  padding-bottom: 0rem;
  border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.125);
}

.skills-section h1 > span{
  margin-top: -55px;  /* Size of fixed header */
  padding-bottom:55px; 
  display: block; 
}

.skills-section .skill-card-link {
  text-decoration: none;
}

.skills-section .skill-card-link-with-popup {
  cursor: pointer;
}

.skills-section .card .card-img-xs {
  margin-right: 0.5rem;
}

.skills-section .card {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: 100%;
}

.skills-section .card .card-body {
  padding-top: 0.2rem;
  padding-left: 0.7rem;
}

.skills-section .skill-card-bottom-row {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.25em;
}

.skills-section .skill-card-icons {
  text-align: left;
  padding-top: 0.25em;
}

.skills-section .skill-card-icons img {
  width: 24px;
  height: 24px;
  margin-right: 0.50em;
}

.skills-section .card .skill-card-buttons {
  text-align: right;
  padding-top: 0;
  padding-right: 0.20em;
}

/* ============= Skills drill-down popup ======= */

.skill-modal .skill-popup-summary {
  margin-bottom: 2.50em;
}

.skill-list .skill-progress {
  height: 0.25rem;
}

.skill-list .skill-row p {
  margin-bottom: 0.50rem;
}

.skill-list .skill-row:last-child {
  margin-bottom: 1.25rem;
}

.skill-list .skill-row.skill-row-with-children {
  cursor: pointer;
}

.skill-list .skill-row.skill-row-with-children .skill-panel-indicator-cell {
  padding-top: 0.50em;
}

.skill-list .skill-row.skill-row-with-children .skill-panel-indicator {
  cursor: pointer;
  color: #6c757d!important;
}

.skill-list .skill-row .skill-row-header[aria-expanded="true"] .is-opened {
  display: inline;
}
.skill-list .skill-row .skill-row-header[aria-expanded="true"] .is-closed {
  display: none;
}
.skill-list .skill-row .skill-row-header:not([aria-expanded="true"]) .is-opened {
  display: none;
}
.skill-list .skill-row .skill-row-header:not([aria-expanded="true"]) .is-closed {
  display: inline;
}

/* ============= Device specific fixes ======= */

/* Large screens such as TV */
@media only screen and (min-width: 1824px) {
}

/* Extra large devices (large desktops, 1200px and up) */

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
}

/* IPad Pro */
@media (max-width: 1024px) {
}

/*  Large devices (desktops, 992px and up) */

@media (max-width: 992px) {
}

/* Medium devices (tablets, 768px and up) */

@media only screen and (max-width: 768px) {
  .skills-section {
    padding-left: 0;
    padding-right: 0;
  }
  .skills-section .container {
    max-width: 95%;
  }
}

/* Small devices (landscape phones, 576px and up) */

@media only screen and (max-width: 576px) {
}

/* iPhoneX, iPhone 6,7,8 */
@media only screen and (max-width: 375px) {
}

/* Galaxy S5, Moto G4 */
@media only screen and (max-width: 360px) {
}

/* iPhone 5 or before */
@media only screen and (max-width: 320px) {
}
