.skills-section .card .card-head {
  background-color: #f9fafc;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.7rem;
  padding-bottom: 0rem;
  border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.125);
}

.skills-section .skill-card-link {
  text-decoration: none;
}

.skills-section .card .card-img-xs {
  margin-right: 0.5rem;
}

.skills-section .card {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.skills-section .card .card-body {
  padding-top: 0.2rem;
  padding-left: 0.7rem;
}

/* ============= Device specific fixes ======= */

/* Large screens such as TV */
@media only screen and (min-width: 1824px) {
}

/* Extra large devices (large desktops, 1200px and up) */

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
}

/* IPad Pro */
@media (max-width: 1024px) {
}

/*  Large devices (desktops, 992px and up) */

@media (max-width: 992px) {
}

/* Medium devices (tablets, 768px and up) */

@media only screen and (max-width: 768px) {
  .skills-section {
    padding-left: 0;
    padding-right: 0;
  }
  .skills-section .container {
    max-width: 100%;
  }
}

/* Small devices (landscape phones, 576px and up) */

@media only screen and (max-width: 576px) {
}

/* iPhoneX, iPhone 6,7,8 */
@media only screen and (max-width: 375px) {
}

/* Galaxy S5, Moto G4 */
@media only screen and (max-width: 360px) {
}

/* iPhone 5 or before */
@media only screen and (max-width: 320px) {
}
