<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    <title>{{ .Page.Title }}</title>
    <!------ ADD COMMON HEADERS -------->
    {{- partial "header.html" . -}}
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
    <!------ ADD PAGE SPECIFIC HEADERS ------->
    {{ block "header" . }} {{ end }}

    <!--================= add analytics if enabled =========================-->
    {{- partial "analytics.html" . -}}
    {{ with resources.Get "scripts/core/theme-scheme.js" | fingerprint }}
    <script integrity="{{.Data.Integrity}}">
     {{ .Content | safeJS }}
    </script>
    {{ end }}
  </head>

  <body class="type-{{ .Page.Type }} kind-{{ .Page.Kind }}" data-bs-spy="scroll" data-bs-target="#TableOfContents" data-bs-offset="80">
    <div class="container-fluid bg-secondary wrapper">
      <!----- ADD NAVBAR --------------->
      {{ block "navbar" . }} {{ end }}

      <!----- ADD SIDEBAR --------------->
      {{ block "sidebar" . }} {{ end }}

      <!----- ADD PAGE CONTENT --------->
      {{ block "content" . }} {{ end }}

      <!----- ADD TABLE OF CONTENTS ----------->
      {{ block "toc" . }} {{ end }}
    </div>

    <!------- ADD FOOTER ------------>
    {{ $footerTemplate:= site.Params.footer.template | default "footer.html" }}
    {{- partial $footerTemplate . -}}

    <!------- ADD COMMON SCRIPTS ------->
    {{ partial "scripts.html" . }}

    <!------- ADD PAGE SPECIFIC SCRIPTS ------>
    {{ block "scripts" . }} {{ end }}

    <!------ IF WANTED, ADD SUPPORT LINKS -------->
    {{- partial "misc/support.html" . -}}

  </body>
</html>
