<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Page.Title }}</title>
    <!------ ADD COMMON HEADERS -------->
    {{- partial "header.html" . -}}
    {{ template "_internal/opengraph.html" . }}

    <!------ ADD PAGE SPECIFIC HEADERS ------->
    {{ block "header" . }} {{ end }}

    <!--================= add analytics if enabled =========================-->
    {{- partial "analytics.html" . -}}

  </head>

  <body data-spy="scroll" data-target="#TableOfContents" data-offset="80">
    <div class="container-fluid bg-dimmed wrapper">
      <!----- ADD NAVBAR --------------->
      {{ block "navbar" . }} {{ end }}

      <!----- ADD SIDEBAR --------------->
      {{ block "sidebar" . }} {{ end }}

      <!----- ADD PAGE CONTENT --------->
      {{ block "content" . }} {{ end }}

      <!----- ADD TABLE OF CONTENTS ----------->
      {{ block "toc" . }} {{ end }}
    </div>

    <!------- ADD FOOTER ------------>
    {{ $footerTemplate:= site.Params.footer.template | default "footer.html" }}
    {{- partial $footerTemplate . -}}

    <!------- ADD COMMON SCRIPTS ------->
    {{ partial "scripts.html" . }}

    <!------- ADD PAGE SPECIFIC SCRIPTS ------>
    {{ block "scripts" . }} {{ end }}

    <!------ IF WANTED, ADD SUPPORT LINKS -------->
    {{- partial "misc/support.html" . -}}

  </body>
</html>
