{{ range .menuItems }}
  {{ $class:= "" }}
  {{ $icon:= "plus-circle" }}
  <!-- If the current menu is the selected menu or it contain the selected menu, set expand icon and set "active" class -->
  {{ if or ($.ctx.HasMenuCurrent $.menuName .)  ($.ctx.IsMenuCurrent $.menuName .)}}
    {{ $icon = "minus-circle"}}
    {{ $class = "active" }}
  {{end}}
  {{ if .HasChildren }}
    <!-- Add current entry -->
    <li>
      <i data-feather="{{ $icon }}"></i><a class="{{$class}} list-link" href="{{ .URL }}"> {{.Name}}</a>
      <!-- Add sub-tree -->
      <ul class="{{ $class }}">
        {{ partial "navigators/sidebar.html" (dict "menuName" $.menuName "menuItems" .Children "ctx" $.ctx) }}
      </ul>
    </li>
  {{ else }}
    <!-- No sub-tree. So, only add current entry -->
    <li><a class="{{$class}} list-link" href="{{ .PageRef | default .URL }}" title="{{ .Name }}">{{.Name}}</a></li>
  {{ end }}
{{ end }}
