h1,
h2,
h3,
h4,
h5 {
  color: $heading-color;
}

strong {
  color: $heading-color !important;
}

p {
  color: $text-color;
}

blockquote {
  border-left: 4px solid $accent-color;
  background-color: rgba($accent-color, 0.05);
  padding: 0.3rem;
  padding-left: 1rem;

  & > p {
    color: $text-color;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.text-muted {
  color: $muted-text-color !important;
}

.text-heading {
  font-weight: bold;
  color: $muted-text-color;
}

.sub-title {
  color: $muted-text-color;
  font-size: 10pt;
}

::-moz-selection {
  @include selection-color();
}

::selection {
  @include selection-color();
}

@include media('<=small') {
  h1 {
    font-size: 2.2rem;
  }
}

@include media('<=tiny') {
  h1 {
    font-size: 1.5rem;
  }
}
