{{ $addNavbarSeparator:= false }}

{{/*  If "blog" feature is enabled, then add navbar separator  */}}
{{ if site.Params.features.blog.enable }}
    {{ $addNavbarSeparator = true }}
{{ end }}

{{/*  If "notes" feature is enabled, then add navbar separator  */}}
{{ if site.Params.features.notes.enable }}
    {{ $addNavbarSeparator = true }}
{{ end }}

{{/*  If site has custom menus, then add navbar separator  */}}
{{ $customMenus := site.Params.customMenus }}
{{ if (index site.Data site.Language.Lang).site.customMenus }}
  {{ $customMenus = (index site.Data site.Language.Lang).site.customMenus }}
{{ end }}

{{ if $customMenus }}
    {{ if gt (len $customMenus) 0 }}
        {{ $addNavbarSeparator = true }}
    {{ end }}
{{ end }}

{{ return $addNavbarSeparator }}
