  <!-- ABOUT START -->
  <div class="container-fluid about bg-white anchor p-md-5 d-flex" id="about">
    <div class="container">
      <div class="row pt-sm-2 pt-md-5 align-self-center">
        <!-- summery -->
        <div class="col-md-6">
          <h3 class="p-1">Md: Emruz Hossain</h3>
          <h5 class="p-1">
            Software Engineer at
            <a href="https://www.appscode.com">AppsCode Inc.</a>
          </h5>
          <p class="p-1 text-justify">
            I am a passionate software engineer with 2 years of working
            experience. I built OSS tools for Kubernetes using GO for
            deploying database in Kubernetes and for disaster recovery. I am
            working as team lead of AppsCode’s
            <a href="https://appscode.com/products/stash/" target="/">Stash</a>
            project. Enjoy interacting with end users.
          </p>
          <div class="text-container ml-auto">
            <ul class="social-link d-flex">
              <li>
                <a href="#" target="/"><i class="fas fa-envelope"></i></a>
              </li>
              <li>
                <a href="#" target="/"><i class="fab fa-github"></i></a>
              </li>
              <li>
                <a href="#" target="/"><i class="fab fa-stack-overflow"></i></a>
              </li>
              <li>
                <a href="#" target="/"><i class="fab fa-linkedin"></i></a>
              </li>
              <li>
                <a href="#" target="/"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#" target="/"><i class="fab fa-facebook"></i></a>
              </li>
            </ul>
          </div>
          <a href="assets/files/resume.pdf" target="#"><button class="btn btn-dark">My Resume</button></a>
        </div>
        <!-- soft skills circular-progressbar -->
        <div class="col-md-6 pt-5 pl-4 pt-md-0 ">
          <div class="row">
            <div class="col-6 col-lg-4 p-2">
              <div class="circular-progress blue">
                <span class="circular-progress-left">
                  <span class="circular-progress-bar circular-progress-percentage-85"></span>
                </span>
                <span class="circular-progress-right">
                  <span class="circular-progress-bar"></span>
                </span>
                <div class="circular-progress-value">Leadership</div>
              </div>
            </div>
            <div class="col-6 col-lg-4 p-2">
              <div class="circular-progress yellow">
                <span class="circular-progress-left">
                  <span class="circular-progress-bar circular-progress-percentage-90"></span>
                </span>
                <span class="circular-progress-right">
                  <span class="circular-progress-bar"></span>
                </span>
                <div class="circular-progress-value">Team Work</div>
              </div>
            </div>
            <div class="col-6 col-lg-4 p-2">
              <div class="circular-progress pink">
                <span class="circular-progress-left">
                  <span class="circular-progress-bar circular-progress-percentage-75"></span>
                </span>
                <span class="circular-progress-right">
                  <span class="circular-progress-bar"></span>
                </span>
                <div class="circular-progress-value">Comunication</div>
              </div>
            </div>
            <div class="col-6 col-lg-4 p-2">
              <div class="circular-progress green">
                <span class="circular-progress-left">
                  <span class="circular-progress-bar circular-progress-percentage-85"></span>
                </span>
                <span class="circular-progress-right">
                  <span class="circular-progress-bar"></span>
                </span>
                <div class="circular-progress-value">Hard Working</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ABOUT END -->