  <!-- ACHIEVEMENTS START -->
  <div class="container-fluid achievements bg-dimmed anchor pb-5" id="achievements">
    <h1 class="text-center">Achievements</h1>

    <div class="container">
      <div class="row" id="gallery">
      </div>
    </div>
    <!-- achievements-holder holds achievement-entry -->
    <div class="d-none" id="achievements-holder">
      <div class="achievement-entry text-center" style="background-image: url(assets/images/achievements/1.jpg);">
        <i class="fas fa-search-plus" id="enlarge-icon"></i>
        <h4 class="title" id="achievement-title">UAP IUPC 2017</h4>
        <div class="caption hidden col-lg-6 text-left" id="caption">
          <h3>Title</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus architecto minus facere vero?
            Quibusdam
            quis corrupti soluta sed quos cumque veritatis reiciendis dicta culpa fugit illum atque facilis, eos
            provident?</p>
        </div>
      </div>
      <div class="achievement-entry text-center" style="background-image: url(assets/images/achievements/2.jpg);">
        <i class="fas fa-search-plus" id="enlarge-icon"></i>
        <h4 class="title" id="achievement-title">UAP IUPC 2017</h4>
        <div class="caption hidden col-lg-6 text-left" id="caption">
          <h3>Title</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus architecto minus facere vero?
            Quibusdam
            quis corrupti soluta sed quos cumque veritatis reiciendis dicta culpa fugit illum atque facilis, eos
            provident?</p>
        </div>
      </div>
      <div class="achievement-entry text-center" style="background-image: url(assets/images/achievements/3.jpg);">
        <i class="fas fa-search-plus" id="enlarge-icon"></i>
        <h4 class="title" id="achievement-title">UAP IUPC 2017</h4>
        <div class="caption hidden col-lg-6 text-left" id="caption">
          <h3>Title</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus architecto minus facere vero?
            Quibusdam
            quis corrupti soluta sed quos cumque veritatis reiciendis dicta culpa fugit illum atque facilis, eos
            provident?</p>
        </div>
      </div>
      <div class="achievement-entry text-center" style="background-image: url(assets/images/achievements/4.jpg);">
        <i class="fas fa-search-plus" id="enlarge-icon"></i>
        <h4 class="title" id="achievement-title">UAP IUPC 2017</h4>
        <div class="caption hidden col-lg-6 text-left" id="caption">
          <h3>Title</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus architecto minus facere vero?
            Quibusdam
            quis corrupti soluta sed quos cumque veritatis reiciendis dicta culpa fugit illum atque facilis, eos
            provident?</p>
        </div>
      </div>
      <div class="achievement-entry text-center" style="background-image: url(assets/images/achievements/5.jpg);">
        <i class="fas fa-search-plus" id="enlarge-icon"></i>
        <h4 class="title" id="achievement-title">UAP IUPC 2017</h4>
        <div class="caption hidden col-lg-6 text-left" id="caption">
          <h3>Title</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus architecto minus facere vero?
            Quibusdam
            quis corrupti soluta sed quos cumque veritatis reiciendis dicta culpa fugit illum atque facilis, eos
            provident?</p>
        </div>
      </div>
      <div class="achievement-entry text-center" style="background-image: url(assets/images/achievements/6.jpg);">
        <i class="fas fa-search-plus" id="enlarge-icon"></i>
        <h4 class="title" id="achievement-title">UAP IUPC 2017</h4>
        <div class="caption hidden col-lg-6 text-left" id="caption">
          <h3>Title</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus architecto minus facere vero?
            Quibusdam
            quis corrupti soluta sed quos cumque veritatis reiciendis dicta culpa fugit illum atque facilis, eos
            provident?</p>
        </div>
      </div>
      <div class="achievement-entry text-center" style="background-image: url(assets/images/achievements/7.jpg);">
        <i class="fas fa-search-plus" id="enlarge-icon"></i>
        <h4 class="title" id="achievement-title">UAP IUPC 2017</h4>
        <div class="caption hidden col-lg-6 text-left" id="caption">
          <h3>Title</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus architecto minus facere vero?
            Quibusdam
            quis corrupti soluta sed quos cumque veritatis reiciendis dicta culpa fugit illum atque facilis, eos
            provident?</p>
        </div>
      </div>
      <div class="achievement-entry img-type-1 text-center"
        style="background-image: url(assets/images/achievements/7.jpg);">
        <i class="fas fa-search-plus" id="enlarge-icon"></i>
        <h4 class="title" id="achievement-title">UAP IUPC 2017</h4>
        <div class="caption hidden col-lg-6 text-left" id="caption">
          <h3>Title</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus architecto minus facere vero?
            Quibusdam
            quis corrupti soluta sed quos cumque veritatis reiciendis dicta culpa fugit illum atque facilis, eos
            provident?</p>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- ACHIEVEMENTS END -->