<div class="container-fluid achievements bg-dimmed anchor pb-5" id="achievements">
  {{ if .Site.Data.achievements }}
    <h1 class="text-center">Achievements</h1>

    <div class="container">
      <div class="row" id="gallery">
      </div>
    </div>
    <!-- achievements-holder holds achievement-entry -->
    <div class="d-none" id="achievements-holder">
      {{ range .Site.Data.achievements.achievements }}
        {{ partial "misc/achievement.html" . }}
      {{ end }}
    </div>
  {{ end }}
</div>
