  <!-- EXPERIENCES START -->
  <div class="container-fluid experiences bg-white anchor" id="experiences">
    <h1 class="text-center">Experiences</h1>
    <div class="container timeline text-justify">
      <!--first section-->
      <div class="row align-items-center  d-flex pt-2">
        <div class="col-1 col-lg-2 text-center vertical-line d-inline-flex justify-content-center">
          <div class="circle font-weight-bold">1</div>
        </div>
        <div class="col-10 col-lg-8">
          <div class="experience-entry-heading">
            <h5>Software Engineer</h5>
            <h6><a href="https://www.appscode.com">AppsCode Inc.</a></h6>
            <p class="text-muted">Nov 2017 - Present, Dhaka Branch</p>
          </div>
          <p>
            AppsCode Ltd. is a subsidiary company of AppsCode Inc. USA. An
            Integrated platform for collaborative coding, testing & deploying
            containerized apps.
          </p>
          <h6 class="text-muted">Responsibilities:</h6>
          <ul class="justify-content-around">
            <li>
              Design, develop and manage disaster recovery tool Stash that
              backup Kubernetes volumes, databases and cluster's resource
              definition.
            </li>
            <li>
              Worked on database operator KubeDB that deploy and manages most
              popular databases inside Kubernetes cluster in Kubernetes native
              way.
            </li>
            <li>
              Added support for Prometheus monitoring in various AppsCode's
              tools.
            </li>
            <li>Provide support to the users of our various tools.</li>
          </ul>
        </div>
      </div>
      <!--path between 1-2-->
      <div class="row horizontal-line">
        <div class="col-1 col-lg-2 timeline-side-div">
          <div class="corner"></div>
        </div>
        <div class="col-10 col-lg-8">
          <hr />
        </div>
        <div class="col-1 col-lg-2 timeline-side-div">
          <div class="corner"></div>
        </div>
      </div>
      <!--second section-->
      <div class="row align-items-center justify-content-end d-flex">
        <div class="col-10 col-lg-8">
          <div class="experience-entry-heading text-right">
            <h5>Software Engineer</h5>
            <h6><a href="https://www.appscode.com">AppsCode Inc.</a></h6>
            <p class="text-muted">Nov 2017 - Present, Dhaka Branch</p>
          </div>
          <p>
            AppsCode Ltd. is a subsidiary company of AppsCode Inc. USA. An
            Integrated platform for collaborative coding, testing & deploying
            containerized apps.
          </p>
          <h6 class="text-muted">Responsibilities:</h6>
          <ul class="justify-content-around">
            <li>
              Design, develop and manage disaster recovery tool Stash that
              backup Kubernetes volumes, databases and cluster's resource
              definition.
            </li>
            <li>
              Worked on database operator KubeDB that deploy and manages most
              popular databases inside Kubernetes cluster in Kubernetes native
              way.
            </li>
            <li>
              Added support for Prometheus monitoring in various AppsCode's
              tools.
            </li>
            <li>Provide support to the users of our various tools.</li>
          </ul>
        </div>
        <div class="col-1 col-lg-2 text-center vertical-line d-inline-flex justify-content-center">
          <div class="circle font-weight-bold">2</div>
        </div>
      </div>
      <!--path between 2-3-->
      <div class="row horizontal-line">
        <div class="col-1 col-lg-2 timeline-side-div">
          <div class="corner"></div>
        </div>
        <div class="col-10 col-lg-8">
          <hr />
        </div>
        <div class="col-1 col-lg-2 timeline-side-div">
          <div class="corner"></div>
        </div>
      </div>
      <!--third section-->
      <div class="row align-items-center d-flex">
        <div class="col-1 col-lg-2 text-center vertical-line d-inline-flex justify-content-center">
          <div class="circle font-weight-bold">3</div>
        </div>
        <div class="col-10 col-lg-8">
          <div class="experience-entry-heading">
            <h5>Software Engineer</h5>
            <h6><a href="https://www.appscode.com">AppsCode Inc.</a></h6>
            <p class="text-muted">Nov 2017 - Present, Dhaka Branch</p>
          </div>
          <p>
            AppsCode Ltd. is a subsidiary company of AppsCode Inc. USA. An
            Integrated platform for collaborative coding, testing & deploying
            containerized apps.
          </p>
          <h6 class="text-muted">Responsibilities:</h6>
          <ul class="justify-content-around">
            <li>
              Design, develop and manage disaster recovery tool Stash that
              backup Kubernetes volumes, databases and cluster's resource
              definition.
            </li>
            <li>
              Worked on database operator KubeDB that deploy and manages most
              popular databases inside Kubernetes cluster in Kubernetes native
              way.
            </li>
            <li>
              Added support for Prometheus monitoring in various AppsCode's
              tools.
            </li>
            <li>Provide support to the users of our various tools.</li>
          </ul>
        </div>
      </div>
      <!--path between 3-4-->
      <div class="row horizontal-line">
        <div class="col-1 col-lg-2 timeline-side-div">
          <div class="corner"></div>
        </div>
        <div class="col-10 col-lg-8">
          <hr />
        </div>
        <div class="col-1 col-lg-2 timeline-side-div">
          <div class="corner"></div>
        </div>
      </div>
      <!--4th section-->
      <div class="row align-items-center justify-content-end d-flex">
        <div class="col-10 col-lg-8">
          <div class="experience-entry-heading text-right">
            <h5>Software Engineer</h5>
            <h6><a href="https://www.appscode.com">AppsCode Inc.</a></h6>
            <p class="text-muted">Nov 2017 - Present, Dhaka Branch</p>
          </div>
          <p>
            AppsCode Ltd. is a subsidiary company of AppsCode Inc. USA. An
            Integrated platform for collaborative coding, testing & deploying
            containerized apps.
          </p>
          <h6 class="text-muted">Responsibilities:</h6>
          <ul class="justify-content-around">
            <li>
              Design, develop and manage disaster recovery tool Stash that
              backup Kubernetes volumes, databases and cluster's resource
              definition.
            </li>
            <li>
              Worked on database operator KubeDB that deploy and manages most
              popular databases inside Kubernetes cluster in Kubernetes native
              way.
            </li>
            <li>
              Added support for Prometheus monitoring in various AppsCode's
              tools.
            </li>
            <li>Provide support to the users of our various tools.</li>
          </ul>
        </div>
        <div class="col-1 col-lg-2 text-center vertical-line d-inline-flex justify-content-center">
          <div class="circle font-weight-bold">4</div>
        </div>
      </div>
      <!--path between 4-5-->
      <div class="row horizontal-line">
        <div class="col-1 col-lg-2 timeline-side-div">
          <div class="corner"></div>
        </div>
        <div class="col-10 col-lg-8">
          <hr />
        </div>
        <div class="col-1 col-lg-2 timeline-side-div">
          <div class="corner"></div>
        </div>
      </div>
      <!--5th section-->
      <div class="row align-items-center d-flex">
        <div class="col-1 col-lg-2 text-center vertical-line d-inline-flex justify-content-center">
          <div class="circle font-weight-bold">5</div>
        </div>
        <div class="col-10 col-lg-8">
          <div class="experience-entry-heading">
            <h5>Software Engineer</h5>
            <h6><a href="https://www.appscode.com">AppsCode Inc.</a></h6>
            <p class="text-muted">Nov 2017 - Present, Dhaka Branch</p>
          </div>
          <p>
            AppsCode Ltd. is a subsidiary company of AppsCode Inc. USA. An
            Integrated platform for collaborative coding, testing & deploying
            containerized apps.
          </p>
          <h6 class="text-muted">Responsibilities:</h6>
          <ul class="justify-content-around">
            <li>
              Design, develop and manage disaster recovery tool Stash that
              backup Kubernetes volumes, databases and cluster's resource
              definition.
            </li>
            <li>
              Worked on database operator KubeDB that deploy and manages most
              popular databases inside Kubernetes cluster in Kubernetes native
              way.
            </li>
            <li>
              Added support for Prometheus monitoring in various AppsCode's
              tools.
            </li>
            <li>Provide support to the users of our various tools.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- EXPERIENCES END -->