<div class="container-fluid anchor pb-5 experiences-section" id="{{ replace (lower .section.name) " " "-" }}">
  {{ if not (.section.hideTitle) }}
  <h2 class="text-center">{{ .section.name }}</h1>
    {{ end }}

    <div class="container timeline text-justify">
      {{ range $experience:= .experiences }}
        <div class="row d-flex experience">
          <div class="col-12">
            {{ partial "experiences/experience-info.html" $experience }}
          </div>
        </div>
      {{ end }}
    </div>
</div>