{{ with site.Params.features.analytics }}
  {{ if or .enable .enabled }}
    {{ with .services.google }}
      {{ if .id }}
        {{ $id := .id }}
        
        {{- if strings.HasPrefix (lower $id) "ua-" }}
          {{- warnf "Google Universal Analytics (UA) ID '%s' is deprecated. Use a GA4 Measurement ID (e.g., G-XXXXXX). See https://support.google.com/analytics/answer/11583528. Create a GA4 property and data stream, then replace the Google Analytics ID in your site configuration with the new value." $id }}
        {{- else }}
          <script async src="https://www.googletagmanager.com/gtag/js?id={{ $id }}"></script>
          <script>
            // Initialize doNotTrack variable to false
            var doNotTrack = false;

            // Check for respectDoNotTrack setting and browser DNT header
            {{ if .respectDoNotTrack }}
              var dnt = (navigator.doNotTrack || window.doNotTrack || navigator.msDoNotTrack);
              // Set doNotTrack if DNT header is '1' or 'yes' (using '==' as per original logic)
              doNotTrack = (dnt == "1" || dnt == "yes");
            {{ end }}
            
            if (!doNotTrack) {
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());
              gtag('config', '{{ $id }}');
            }
          </script>
        {{- end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
