<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<link rel="stylesheet" href="assets/css/bootstrap.min.css" />
<!-- ============ import custom CSS ========== -->
<link rel="stylesheet" href="assets/css/style.css" />
<link rel="stylesheet" href="assets/css/navbar.css" />
<link rel="stylesheet" href="assets/css/home.css" />
<link rel="stylesheet" href="assets/css/about.css" />
<link rel="stylesheet" href="assets/css/skills.css" />
<link rel="stylesheet" href="assets/css/experiences.css" />
<link rel="stylesheet" href="assets/css/projects.css" />
<link rel="stylesheet" href="assets/css/recent-posts.css" />
<link rel="stylesheet" href="assets/css/achievements.css" />
{{/*  <link rel="stylesheet" href="assets/css/blog.css" />  */}}
{{/*  <link rel="stylesheet" href="assets/css/read.css" />  */}}
<link rel="icon" type="image/png" href="{{ .Site.Params.logo }}" />

<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
