<!-- HOME START -->
<div class="container-fluid home" id="home">
  <div
    class="background container-fluid"
    style="background-image: url('assets/images/background/flower.jpg');"
  ></div>
  <div class="container content text-center">
    <img
      src="assets/images/profile-image.jpg"
      class="rounded-circle mx-auto d-block img-fluid"
      alt=""
    />
    <h1 class="greeting">{{- .Site.Data.home.greeting -}}</h1>
    <div class="typing-carousel">
      <span id="ityped" class="ityped"></span>
      <span class="ityped-cursor"></span>
    </div>
    <ul id="typing-carousel-data">
      {{ range .Site.Data.home.typeWriter }}
      <li>{{ . }}</li>
      {{ end }}
    </ul>
    <a href="#about"><i class="arrow bounce fa fa-chevron-down"></i></a>
  </div>
</div>
<!-- HOME END -->
