<nav class="navbar navbar-expand-lg top-navbar initial-navbar" id="top-navbar">
  <div class="container">
    <a class="navbar-brand" href="{{ .Site.BaseURL }}">
      <img src="/assets/images/logo-inverted.png" id="logo">
      {{- .Site.Title -}}
    </a>
    <button
      class="navbar-toggler navbar-dark"
      id="navbar-toggler"
      ,type="button"
      data-toggle="collapse"
      data-target="#top-nav-items"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="top-nav-items">
      <ul class="navbar-nav ml-auto">
        {{ range .Site.Data.site.menus }}
        <li class="nav-item">
          <a class="nav-link smooth-scroll" href="{{ .url }}">{{ .name }}</a>
        </li>
        {{ end }}
        <div class="dropdown-divider" id="top-navbar-divider"></div>
        <li class="nav-item">
          <a class="nav-link" id="blog-link" href="/posts">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
