{{ $title       :=  (index site.Data site.Language.Lang).site.openGraph.title | default site.Title }}
{{ $type        :=  (index site.Data site.Language.Lang).site.openGraph.type | default "website" }}
{{ $description :=  (index site.Data site.Language.Lang).site.openGraph.description | default  (index site.Data site.Language.Lang).site.description }}
{{ $image       :=  (index site.Data site.Language.Lang).site.openGraph.image | default  (index site.Data site.Language.Lang).author.image }}
{{ $url         :=  (index site.Data site.Language.Lang).site.openGraph.url | default site.BaseURL }}

<!-- ============ open graph tags ========== -->
<meta property="og:title" content="{{ $title }}"/>
<meta property="og:type" content="{{ $type }}"/>
<meta property="og:description" content="{{ $description }}"/>
<meta property="og:image" content="{{ $image | relURL }}">
<meta property="og:url" content="{{ $url }}">

{{ template "_internal/twitter_cards.html" . }}
