  <!-- SKILLS START -->
  <div class="container-fluid skills bg-dimmed anchor pb-5" id="skills">
    <h1 class="text-center">Skills</h1>

    <div class="container d-flex-block">
      <div class="row " id="primary-skills">
        <div class="col-sm-12 col-md-6 col-lg-4 pt-2">
          <div class="card">
            <div class="card-head d-flex">
              <img class="card-img-sm" src="assets/images/skills/kubernetes.png" alt="Card image cap" />
              <h4 class="card-title">Kubernetes</h4>
            </div>
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of tlsdfjlsdjflsdfhe card's content.
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 pt-2">
          <div class="card">
            <div class="card-head d-flex">
              <img class="card-img-sm" src="assets/images/skills/go.png" alt="Card image cap" />
              <h4 class="card-title">Go Development</h4>
            </div>
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 pt-2">
          <div class="card ">
            <div class="card-head d-flex">
              <img class="card-img-sm" src="assets/images/skills/cloud.png" alt="Card image cap" />
              <h4 class="card-title">Cloud Computing</h4>
            </div>
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 pt-2">
          <div class="card">
            <div class="card-head d-flex">
              <img class="card-img-sm" src="assets/images/skills/docker.svg" alt="Card image cap" />
              <h4 class="card-title">Docker</h4>
            </div>
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 pt-2">
          <div class="card ">
            <div class="card-head d-flex">
              <img class="card-img-sm" src="assets/images/skills/linux.png" alt="Card image cap" />
              <h4 class="card-title">Linux</h4>
            </div>
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 pt-2">
          <div class="card ">
            <div class="card-head d-flex">
              <img class="card-img-sm" src="assets/images/skills/prometheus.png" alt="Card image cap" />
              <h4 class="card-title">Prometheus</h4>
            </div>
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>

        <div class=" col-sm-12 col-md-6 col-lg-4 pt-2">
          <div class="card">
            <div class="card-head d-flex">
              <img class="card-img-sm" src="assets/images/skills/git.png" alt="Card image cap" />
              <h4 class="card-title">Git</h4>
            </div>
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 pt-2">
          <div class="card ">
            <div class="card-head d-flex">
              <img class="card-img-sm" src="assets/images/skills/c++.png" alt="Card image cap" />
              <h4 class="card-title">C++</h4>
            </div>
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>

        <div class=" col-sm-12 col-md-6 col-lg-4 pt-2">
          <div class="card">
            <div class="card-head d-flex">
              <img class="card-img-sm" src="assets/images/skills/gopher.png" alt="Card image cap" />
              <h4 class="card-title">Gopher</h4>
            </div>
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- SKILLS END -->