{{ $repo := site.Params.features.comment.utteranc.repo }}
{{ $issueTerm := site.Params.features.comment.utteranc.issueTerm }}
{{ $theme := site.Params.features.comment.utteranc.theme }}

<div id="utteranc_thread"></div>
<div id="comments" class="comments">
    <div id="comments-container"></div>
</div>
<script type="text/javascript">
    (function() {
        var utterances = document.createElement('script');
        utterances.type = 'text/javascript';
        utterances.async = true;
        utterances.setAttribute('repo','{{ $repo }}')
        utterances.setAttribute('issue-term','{{ $issueTerm }}')
        utterances.setAttribute('theme','{{ $theme }}')
        utterances.crossorigin = 'anonymous';
        utterances.src = 'https://utteranc.es/client.js';

        document.getElementById('comments-container').appendChild(utterances);
    })();
</script>
