<!-- valine -->
<div id="vcomments"></div>
<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
<script src="//unpkg.com/valine/dist/Valine.min.js"></script>
<script type="text/javascript">
  new Valine({
    el: "#vcomments",
    appId: "{{ .valine.appId }}",
    appKey: "{{ .valine.appKey }}",
    avatar: "{{ .valine.avatar }}",
    placeholder: "{{ .valine.placeholder }}",
    visitor: "{{ .valine.visitor }}",
    lang: "{{ .valine.lang }}",
    recordIP: "{{ .valine.recordIP }}",
    enableQQ: "{{ .valine.enableQQ }}",
  });
</script>
