{{ define "header" }}
    <link rel="stylesheet" href="{{ "/css/404.css" | relURL }}">
{{ end }}

{{ define "navbar" }}
    {{ partial "navigators/navbar-2.html" (dict "baseURL" site.BaseURL "title" site.Title "hasToggleButton" false) }}
{{ end }}

{{ define "content" }}
{{/* not found image */}}
{{ $notFoundImage := "/images/404.png" }}

{{/* resize the image. don't resize svg because it is not supported */}}
{{ $notFoundImage := resources.Get $notFoundImage}}
{{ if and $notFoundImage (ne $notFoundImage.MediaType.SubType "svg") }}
  {{ $notFoundImage = $notFoundImage.Resize "1500x" }}
{{ end }}
{{ $notFoundImage = $notFoundImage.RelPermalink}}

<div class="container">
    <div class="notFound">
        <img src="{{ $notFoundImage }}" alt="">
        <div class="message">
            <h1>404</h1>
            <h4>{{ i18n "err_404" }}</h4>
        </div>
    </div>
</div>
{{ end }}
