<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{- .Site.Title -}}</title>
    {{- partial "head.html" . -}}
</head>
<body data-spy="scroll" data-target="#top-navbar" data-offset="50">
    <!--- NAVBAR START ---->
    {{- partial "navbar.html" . -}}
    <!--- NAVBAR END ---->

    <!--- Home SECTION START ---->
    {{- partial "home.html" . -}}
    <!--- Home SECTION END ---->
    
    <!--- ABOUT SECTION START --->
    {{- partial "about.html" . -}}
    <!--- ABOUT SECTION END ---->

    <!--- SKILLS SECTION START --->
    {{- partial "skills.html" . -}}
    <!--- SKILLS SECTION END ---->

    <!--- EXPERIENCE SECTION START --->
    {{- partial "experiences.html" . -}}
    <!--- EXPERIENCE SECTION END ---->

    <!--- PROJECT SECTION START --->
    {{- partial "projects.html" . -}}
    <!--- PROJECT SECTION END ---->

    <!--- RECENT-POSTS SECTION START --->
    {{- partial "recent-posts.html" . -}}
    <!--- RECENTS-POSTS SECTION END ---->

    <!--- ACHIEVEMENT SECTION START --->
    {{- partial "achievements.html" . -}}
    <!--- ACHIEVEMENTS SECTION END ---->

    <!--- FOOTER START --->
    {{- partial "footer.html" . -}}
    <!--- FOOTER END ---->

</body>
</html>