{{ with site.Params.features.support }}
    {{ if .enable }}
        {{ with .services }}
        <!-- Enable Ko-Fi floating button -->
        {{ with .kofi }}
            <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
            <script>
            kofiWidgetOverlay.draw('{{ .user }}', {
                'type': 'floating-chat',
                'floating-chat.donateButton.text': '{{ .text }}',
                'floating-chat.donateButton.text-color': '{{ .textColor }}',
                'floating-chat.donateButton.background-color': '{{ .backgroundColor }}',
            });
            </script>
        {{ end }}
        <!-- Enable Buy Me a Coffee (buymeacoffee.com) floating button -->
        {{ with .buymeacoffee }}              
          <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="{{ .user }}" data-description="{{ .text }}" data-message="{{ .info }}" data-color="{{ .color }}" data-position="Right" data-x_margin="10" data-y_margin="18"></script>
        {{ end }}
        {{ end }}
    {{ end }}
{{ end }}
