{{ with .valine }}
<div id="vcomments"></div>
<script src="//code.bdstatic.com/npm/leancloud-storage@4.12.0/dist/av-min.js"></script>
<script src="//unpkg.com/valine/dist/Valine.min.js"></script>
<script type="text/javascript">
  new Valine({
    el: "#vcomments",
    appId: "{{ .appId }}",
    appKey: "{{ .appKey }}",
    avatar: "{{ .avatar }}",
    placeholder: "{{ .placeholder }}",
    visitor: "{{ .visitor }}",
    lang: "{{ .lang }}",
    recordIP: "{{ .recordIP }}",
    enableQQ: "{{ .enableQQ }}",
    serverURLs: "https://{{ .serverURLs  }}.api.lncldglobal.com"
  });
</script>
{{ end }}