<div class="col-6 col-lg-4 p-2">
  {{ $predefinedColor:= true}}
  {{ if hasPrefix .color "#"}}
    {{ $predefinedColor = false }}
  {{ end }}
  <div class="circular-progress {{if $predefinedColor}}{{ .color }}{{end}}">
    <span class="circular-progress-left">
      <span
        class="circular-progress-bar circular-progress-percentage-{{ .percentage }}"
        {{ if not $predefinedColor }}
          style="border-color: {{.color}};"
        {{ end }}
      ></span>
    </span>
    <span class="circular-progress-right">
      <span
      class="circular-progress-bar"
      {{ if not $predefinedColor }}
          style="border-color: {{.color}};"
      {{ end }}
      ></span>
    </span>
    <div class="circular-progress-value">{{ .name }}</div>
  </div>
</div>
