name: Run Build

# Run action on pull request event
on: [pull_request]


jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
    # checkout to the commit that has been pushed
    - uses: actions/checkout@v3.2.0
      with:
        submodules: true  # Fetch Hugo themes (true OR recursive)
        fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod

    # install Hugo
    - name: Setup Hugo
      uses: peaceiris/actions-hugo@v2.6.0
      with:
        hugo-version: 'latest'
        extended: true

    # build website
    - name: Create Config
      run: touch config.toml
    - name: Build
      run: hugo --minify
