name: Check Markdown links

# Run action on pull request event
on: [pull_request]

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    # checkout to latest commit
    - uses: actions/checkout@v2.4.0
    # run markdown linter
    - uses: gaurav-nelson/github-action-markdown-link-check@1.0.13
